<!doctype html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="utf-8">
    <title>ثبت نام تامین کنندگان</title>
    <link href="/css/Tamin.css" rel="stylesheet" />
    <link href="/css/Register.css" rel="stylesheet" />
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/wwb15.min.js"></script>

</head>

<body onload="AnimateCss('wb_Image1', 'focus-in', 0, 1500); return false;" style ="width:100%;height:auto">

    <div>
        @RenderBody()
    </div>

   
         
    @RenderSection("Scripts", required: false)
</body>
</html>
