@page "/VendorForm"

@namespace Tamin.Pages.Vendors
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@{
    Layout = null;
}

<!doctype html>
<html lan="fa" dir="rtl" class="k-rtl">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>فرم تامین کنندگان</title>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="js/refresh-page.js"></script>
    <script src="_content/telerik.ui.for.blazor/js/telerik-blazor.js"></script>
    <link href="/css/Tamin2.css" rel="stylesheet">
    <link href="/css/Vendor-Form.css" rel="stylesheet">
    <script src="/js/jquery-1.12.4.min.js"></script>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link id="kendoCss" rel="stylesheet" href="_content/telerik.ui.for.blazor/css/kendo-theme-default/all.css" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <app>

        <component type="typeof(App)" render-mode="Server" />

    </app>

    <script src="_framework/blazor.server.js"></script>
   

</body>
</html>
