@page
@model ForgotPasswordModel

@{
    Layout = "_ForgotPassword";
}

<div asp-validation-summary="All" style="color:orangered;text-align:center;font-family:'Yekan';font-size:20px"></div>
<div><br></div>
<div id="container">
    <div id="wb_Text2" style="position:absolute;left:264px;top:335px;width:372px;height:30px;text-align:center;z-index:14;" dir="rtl">
        <span style="color:#FF4500;font-family:Yekan;font-size:20px;">حالا ایمیل خود را چک کنید</span>
    </div>
    <div id="Layer1" style="position:absolute;text-align:left;left:249px;top:0px;width:402px;height:197px;z-index:15;">
        <div id="wb_Image2" style="position:absolute;left:286px;top:34px;width:58px;height:71px;opacity:0.90;z-index:0;">
            <img src="/images/FA.png" id="Image2" alt="">
        </div>
        <label for="" id="Label6" style="position:absolute;left:19px;top:53px;width:292px;height:57px;line-height:57px;z-index:1;">تامین کنندگان تناوب</label>
        <label for="" id="Label1" style="position:absolute;left:8px;top:21px;width:308px;height:57px;line-height:57px;z-index:2;">سیستم ثبت و ارزیابی</label>
        <div id="wb_Image3" style="position:absolute;left:23px;top:115px;width:64px;height:64px;z-index:3;">
            <img src="/images/icons8_lock_64px_1.png" id="Image3" alt="">
        </div>
        <div id="wb_Image5" style="position:absolute;left:120px;top:115px;width:64px;height:64px;z-index:4;">
            <img src="/images/icons8_key_64px_1.png" id="Image5" alt="">
        </div>
        <div id="wb_Image7" style="position:absolute;left:320px;top:115px;width:64px;height:64px;z-index:5;">
            <img src="/images/icons8_unlock_64px.png" id="Image7" alt="">
        </div>
        <div id="wb_Image6" style="position:absolute;left:217px;top:117px;width:70px;height:70px;z-index:6;">
            <img src="/images/icons8_private_message_64px.png" id="Image6" alt="">
        </div>
    </div>
    <div id="wb_Image1" style="position:absolute;left:410px;top:301px;width:80px;height:98px;opacity:0.90;z-index:16;">
        <img src="/images/FA.png" id="Image1" alt="">
    </div>
    <div id="Layer2" style="position:absolute;text-align:left;left:227px;top:513px;width:447px;height:96px;z-index:17;">
        <div id="wb_Image4" style="position:absolute;left:63px;top:16px;width:64px;height:64px;z-index:7;">
            <a href="http://gmail.com"><img src="/images/icons8_gmail_64px.png" id="Image4" alt=""></a>
        </div>
        <div id="wb_Image8" style="position:absolute;left:154px;top:16px;width:64px;height:64px;z-index:8;">
            <a href="http://ymail.com"><img src="/images/icons8_yahoo_64px.png" id="Image8" alt=""></a>
        </div>
        <div id="wb_Image11" style="position:absolute;left:241px;top:16px;width:64px;height:64px;z-index:9;">
            <a href="http://outlook.com"><img src="/images/icons8_microsoft_outlook_64px.png" id="Image11" alt=""></a>
        </div>
        <div id="wb_Image9" style="position:absolute;left:323px;top:16px;width:64px;height:64px;z-index:10;">
            <a href="mailto:your_mail@example.com"><img src="/images/icons8_microsoft_outlook_2019_64px.png" id="Image9" alt=""></a>
        </div>
    </div>
    <div id="wb_Line1" style="position:absolute;left:143px;top:455px;width:606px;height:3px;z-index:18;">
        <img src="/images/img0004.png" id="Line1" alt="">
    </div>
    <div id="wb_Image10" style="position:absolute;left:436px;top:623px;width:29px;height:29px;z-index:19;">
        <a href="/"><img src="/images/icons8_login_64px.png" id="Image10" alt="" title="Login"></a>
    </div>
    <label for="" id="Label2" style="position:absolute;left:422px;top:648px;width:48px;height:32px;line-height:32px;z-index:20;">ورود</label>
    <label for="" id="Label3" style="position:absolute;left:271px;top:197px;width:350px;height:43px;line-height:43px;z-index:21;">بازیابی پسورد فراموش شده</label>
    <div id="wb_Form1" style="position:absolute;left:254px;top:289px;width:392px;height:122px;z-index:22;">

        <form method="post" onsubmited="AnimateCss('wb_Form1', 'focus-out', 0, 1000);AnimationResume('wb_Text2');ShowObject('wb_Form1', 0)">

            <div id="wb_Text1" style="position:absolute;left:10px;top:11px;width:372px;height:30px;text-align:right;z-index:13;" dir="rtl">
                <span style="color:#696969;font-family:Yekan;font-size:20px;">لطفا ایمیلی که با آن ثبت نام کرده اید را وارد کنید </span>
            </div>

            <input asp-for="Input.Email" id="Editbox1" style="position:absolute;left:18px;top:69px;width:231px;height:28px;z-index:12;">
            
            <button type="submit" id="Button1" style="position:absolute;left:283px;top:69px;width:96px;height:38px;z-index:11;">ارسال ایمیل</button>

        </form>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
