@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأیید رمز عبور فراموش شده";
}

@{
    Layout = "_ForgotPassword";
}
 
<div><br><br><br><br></div>
<div id="container">

    <div style="color:orangered;text-align:center;font-family:'Yekan';font-size:26px">@ViewData["Title"]</div>
    <div><br><br><br><br></div>
    <div style="font-family:'Yekan';font-size:18px">
        <p>
            لطفاً ایمیل خود را برای بازنشانی گذرواژه خود بررسی کنید.
        </p>
    </div style="color:orangered;text-align:center;font-family:'Yekan';font-size:18px">

    <a href="/" style="color:orangered;text-align:center;font-family:'Yekan';font-size:18px">ورود</a>
</div>
