@font-face {
    font-family: Vazir;
    src: url('/fonts/Vazir.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/Vazir.woff2') format('woff2'), /* Modern Browsers */
    url('/fonts/Vazir.woff') format('woff'), /* Modern Browsers */
    url('/fonts/Vazir.otf') format('opentype'), /* Open Type Font */
    url('/fonts/Vazir.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/Vazir.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    -webkit-animation-fill-mode: both;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -350px;
   float:left
}
div#container
{
   width: 900px;
   height: 700px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: #F5F5F5;
    background-image: url(/images/Login_bkgrnd.png);
    background-repeat: repeat-y;
    color: #696969;
    font-family: Vazir;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.0;
    margin: 0;
    padding: 0;
}
#wb_Form1
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #C0C0C0;
   border-radius: 10px;
   opacity: 0.90;
   box-shadow: 0px 0px 20px #D3D3D3;
   -webkit-animation: animate-fade-in-right 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both, focus-in 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both;
   -moz-animation: animate-fade-in-right 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both, focus-in 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both;
   animation: animate-fade-in-right 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both, focus-in 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both;
}
#Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Vazir;
   font-weight: normal;
   font-size: 13px;
   line-height: 34px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Vazir;
   font-weight: normal;
   font-size: 13px;
   line-height: 34px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#696969;
   font-family: Vazir;
   font-weight: normal;
   font-size: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: right;
   vertical-align: top;
}
#Label3
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#696969;
   font-family: Vazir;
   font-weight: normal;
   font-size: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: right;
   vertical-align: top;
}
#wb_Image6
{
   direction: ltr;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image8
{
   direction: ltr;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Checkbox1
{
   margin: 0;
}
#wb_Checkbox1, #wb_Checkbox1 *, #wb_Checkbox1 *::before, #wb_Checkbox1 *::after
{
   box-sizing: border-box;
}
#wb_Checkbox1 input[type='checkbox']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
}
#wb_Checkbox1 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_Checkbox1 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#wb_Checkbox1 label::after
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   left: 0;
   top: 0;
   padding: 0;
   text-align: center;
   line-height: 20px;
}
#wb_Checkbox1 input[type='checkbox']:checked + label::after
{
   content: " ";
   background: url('data:image/svg+xml,%3csvg%20height%3d%2220%22%20width%3d%2220%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%3cg%20style%3d%22fill:%23FFFFFF%22%20transform%3d%22scale%280.0112%29%22%3e%0d%0a%3cpath%20transform%3d%22rotate%28180%29%20scale%28%2d1%2c1%29%20translate%280%2c%2d1536%29%22%20d%3d%22M1671%20970q0%20%2d40%20%2d28%20%2d68l%2d724%20%2d724l%2d136%20%2d136q%2d28%20%2d28%20%2d68%20%2d28t%2d68%2028l%2d136%20136l%2d362%20362q%2d28%2028%20%2d28%2068t28%2068l136%20136q28%2028%2068%2028t68%20%2d28l294%20%2d295l656%20657q28%2028%2068%2028t68%20%2d28l136%20%2d136q28%20%2d28%2028%20%2d68z%22/%3e%3c/g%3e%3c/svg%3e') no-repeat center center;
   background-size: 80% 80%
}
#wb_Checkbox1 input[type='checkbox']:checked + label::before
{
   background-color: #696969;
   background-image: none;
   border-color: #696969;
}
#wb_Checkbox1 input[type='checkbox']:focus + label::before
{
   outline: thin dotted;
}
#Label4
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#4F4F4F;
   font-family: Vazir;
   font-weight: normal;
   font-size: 15px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: right;
   vertical-align: top;
}
#Button1
{
   border: 1px solid #3CB371;
   border-radius: 4px;
   background-color: #3CB371;
   background-image: none;
   color: #FFFFFF;
   font-family: Vazir;
   font-weight: normal;
   font-size: 19px;
   -webkit-appearance: none;
   margin: 0;
}
#Button2
{
   line-height: 34px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Vazir;
   font-weight: normal;
   font-size: 19px;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Image7
{
   direction: ltr;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Label5
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#4F4F4F;
   font-family: Vazir;
   font-weight: normal;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
   vertical-align: top;
}
#Label5:hover
{
   color: #FF4500;
   -webkit-transition: color 500ms ease 0ms;
   -moz-transition: color 500ms ease 0ms;
   transition: color 500ms ease 0ms;
}
#wb_Image9
{
   direction: ltr;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont1
{
   height: 78px;
   width: 75px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e90d";
}
#IconFont1 i
{
   color: #808080;
   display: inline-block;
   font-size: 75px;
   line-height: 78px;
   vertical-align: middle;
   width: 74px;
}
#wb_IconFont1:hover i
{
   color: #808080;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   border-width: 0;
   height: 613px;
   width: 8px;
}
#Line1
{
   -webkit-animation: focus-in 1100ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 3600ms 1 normal both;
   -moz-animation: focus-in 1100ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 3600ms 1 normal both;
   animation: focus-in 1100ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 3600ms 1 normal both;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   -webkit-animation: animate-fade-in-left 1800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 4700ms 1 normal both, focus-in 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both;
   -moz-animation: animate-fade-in-left 1800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 4700ms 1 normal both, focus-in 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both;
   animation: animate-fade-in-left 1800ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 4700ms 1 normal both, focus-in 1800ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 4700ms 1 normal both;
}
#Label6
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#3C5B95;
   font-family: Vazir;
   font-weight: normal;
   font-size: 32px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
   vertical-align: top;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#D24347;
   font-family: Vazir;
   font-weight: normal;
   font-size: 32px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
   vertical-align: top;
}
#wb_Image2
{
   direction: ltr;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   direction: ltr;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   direction: ltr;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image1
{
   direction: ltr;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   direction: ltr;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image10
{
   direction: ltr;
   vertical-align: top;
}
#Image10 {

     border: 0px solid #000000;
    padding: 0;
    -webkit-animation: focus-out 2000ms ease-out 3000ms 1 normal both;
    -moz-animation: focus-out 2000ms ease-out 3000ms 1 normal both;
    animation: focus-out 2000ms ease-out 3000ms 1 normal both;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
