<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">سلام, @context.User.Identity.Name!</a>
        <form method="post" action="Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">ثبت نام</a>
        <a href="/">ورود</a>
    </NotAuthorized>
</AuthorizeView>
