@page "/Assessment"

@namespace Tamin.Pages.Vendors
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!doctype html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>ارزیابی و شاخص ها</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link href="/css/site.css" rel="stylesheet" />

</head>

<body style="text-align-last:center">

    <app>

        <component type="typeof(App)" render-mode="Server" />

    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js" defer></script>
    <script src="js/refresh-page.js"></script>
    <script src="~/js/exporter.js"></script>


</body>
</html>
